.header {
  background-color: #ec0000;
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
  }
  .homeheader {
    .whttxt {
      font-family: SantanderHead-Bold;
      letter-spacing: 0.3px;
    }
    .headertext {
      font-size: 18px;
    }
  }
  .whttxt{
    font-family: SantanderHead-Bold;
    letter-spacing: 0.3px;
    display: flex;
    align-items: center;
    margin-right: 34px;
  }
}
@media (max-width: 992px) {
  .logoimage {
    width: 30%;
  }
}
@media (max-width: 420px) {
  .logoimage {
    width: 65%;
  }
}
