.header {
  background-color: #ec0000;
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    margin: auto
  }
  .logoimage{
    max-height: 70px;
    margin: 18px 0 18px 0px;
    text-align: left;
  }
  .homeheader {
    .whttxt {
      font-family: SantanderHead-Bold;
      letter-spacing: 0.3px;
    }
    .headertext {
      font-size: 20px;
    }
  }
  .whttxt{
    font-family: SantanderHead-Bold;
    letter-spacing: 0.3px;
    display: flex;
    align-items: center;
    //margin-right: 34px;
    color: var(--foreground-color);
    font-size: 20px;
  }
}
@media (max-width: 992px) {
  .logoimage {
    width: 30%;
  }
}
@media (max-width: 420px) {
  .logoimage {
    width: 50%;
  }
  .header{
    .whttxt{
      font-size: 17px;
    }
  }
}
