.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .bgcolor {
    background-color: #f3f3f3;
  }
  .innerpgcntnt {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 15px;
    padding: 20px 0px;
    justify-content: center;
  }
  .visitnamebx {
    width: 28%;
  }
  .detailbx {
    width: 70%;
  }
  .titlebx {
    background-color: #e51b24;
    height: 50px;
    padding: 10px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .contentwhtbx {
    background-color: #fff;
    height: 750px;
    padding: 20px 5px 20px 20px;
    form{
      overflow-y: scroll;
      // height: 720px;
      max-height: 563px;
      padding-right: 15px;
    }
    ::-webkit-scrollbar {
      width: 8px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1; 
      border-radius: 10px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background:#aaaaaa;
      border-radius: 10px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #aaaaaa;
    }
  }
  .listcntnt {
    li {
      height: 50px;
      display: flex;
      align-items: center;
      position: relative;
      font-weight: 500;
      font-size: 15px;
      text-transform: capitalize;
    }
    li:nth-child(odd) {
      background: #fff;
    }
    li:not(:last-child) {
      border-bottom: 1px solid #989898;
    }
    li a {
      width: 100%;
      height: inherit;
      display: flex;
      align-items: center;
      padding-right: 20px;
      padding: 10px;
    }
    li::after {
      content: "";
      position: absolute;
      top: 15px;
      right: 15px;
      background-image: url(/player.svg);
      background-repeat: no-repeat;
      display: inline-block;
      width: 20px;
      height: 20px;
    }
  }
  .listitems {
    border: 1px solid #989898;
    li.listhead {
      background-color: #aaaaaa;
    }
  }
  .listhead {
    a {
      font-weight: 500;
    }
    ::after {
      display: none;
    }
  }
  .innercontentwhtbx {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 750px;
  }
  .textcntr {
    text-align: center;
  }
  .pdT20 {
    padding-top: 20px;
  }
  .ftw600 {
    font-weight: 600;
  }
  
  ul.listiconhide li::after {
    display: none;
  }
  .tblinputbx {
    background-color: #e5e5e5;
    padding: 10px;
    border-radius: 6px;
    width: 100%;
  }
  .detailtbl {
    width: 100%;
    margin-bottom: 30px;
    tr:not(:last-child) td {
      padding-bottom: 5px;
    }
    td {
      width: 50%;
    }
  }
  .cntnttitle {
    color: #e51b24;
    font-size: 24px;
    font-weight: 600;
  }
  .flex {
    display: flex;
  }
  .contentwhtbxfooter {
    position: relative;
  }
  .mainboxfooter {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px -5px #695e5e;
  }
  .btnrow {
    justify-content: space-between;
  }
  .rowrhtbtn {
    column-gap: 10px;
  }
  .mainboxfooterbtn:hover {
    background-color: #d01a24 !important;
    border: 1px solid  #d01a24 !important;
  }
  .mainboxfooterbtn {
    background-color: #e51b24;
    border: 1px solid  #e51b24;
    color: #fff;
    height: 40px;
    padding: 10px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
  }
  .imagechoosebtn {
    width: 170px;
    justify-content: space-between;
    align-items: center;
  }
  
  .addimagepopup, .searchboxpopup{
    display: none;
  }
  .recipientsbtn{
    position: relative;
    align-items: center;
    img{
      margin-left: 7px;
    }
  }
  
  /*******checkbox**********/
  .checklabel {
    display: block;
    position: relative;
    margin: 10px 0px;
    margin-right: 40px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    input:checked ~ .checkmark {
      background-color: #2196f3;
    }
    input:checked ~ .checkmark:after {
      display: block;
    }
    .checkmark:after {
      left: 9px;
      top: 4px;
      width: 7px;
      height: 14px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    right: -30px;
    height: 25px;
    width: 25px;
    background-color: #eee;
    box-shadow: 0px 0px 4px 1px #bebbbb;
    border-radius: 6px;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .imageoption {
    input[type="file"] {
      color: rgba(0, 0, 0, 0);
    }
  }
  /*******checkbox**********/
  
  .imageaddoption {
    position: relative;
    .imageoption {
      position: absolute;
      bottom: 100%;
      left: 0px;
      background-color: #fff;
      padding: 15px;
      column-gap: 10px;
      height: 220px;
      width: 400px;
      box-shadow: 0px 1px 25px -12px #999;
    }
  }
  .rowrhtbtn{
    margin-bottom: 10px;
  }
  .searchboxpopup{
    .imageoption{
      position: absolute;
      bottom: 50%;
      left: 0px;
      background-color: #fff;
      padding: 15px;
      column-gap: 10px;
      height: 250px;
      width: 350px;
      box-shadow: 0px 1px 25px -12px #999;
    }
  }
  .addsearchrow{
    align-items: center;
    .addbtn{
      background-color: #000;
      color: #fff;
      padding: 15px;
      width: 30%;
      font-weight: 600;
      border-bottom:0px solid #cacaca !important;
      height: 50px;
    }
    .searchrow{
      width: 70%;
      background-color: #e51b24;
      color: #fff;
      padding: 15px;
      text-align: end;
      height: 50px;
      position: relative;
    }
    .searchrow:after{
      position: absolute;
      top: 15px;
      left: 5px;
      content: "";
      height: 20px;
      width: 20px;
       background-image: url("/search-icon.svg");
    }
  }
  .searchrow{
    input{
      background-color: #ce131b;
      text-align: left;
      outline-offset: 0px;
      outline: 0px;
      margin-left: 15px;
      width: 90%;
     
    }
   
    :focus-visible{
      border-bottom: 1px solid #eee;
    }
  
    ::placeholder{
      color: #eee;
    }
  }
  .boxmailcontent{
    .mailtext{
      align-items: center;
      column-gap: 5px;
      justify-content: space-between;
      padding: 10px 0px;
      border-bottom: 1px solid #bebbbb;
    }
    button{
      padding: 0px;
      width: auto;
      text-align: end;
    }
    
  }
  /**/
  
  .listiconhide{
    li{
      padding: 10px;
      column-gap: 15px;
    }
    li:hover{
      background-color: #aaaaaa;
    }
    li.listhead{
      background-color: #e51b24;
      color: #fff;
      justify-content: space-between;
      
    }
    li a {
      padding: 0px;
    }
    button {
      background-color: #555555;
      border: 1px solid #555555;
      width: 70px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    button:hover {
      background-color: #373737 !important;
      border: 1px solid #373737;
    }
  }
  
  .innerpgtab{
    // .contentwhtbx{
    //   padding: 20px;
    // }
    .tabcontainer{
      width: 100%;
      position: relative;
    }
  .nav-link{
    column-gap: 10px;
  }
  .listitems{
    border: 0px;
    border-top: 1px solid #989898
  }
  }
  .lfttabs a{
    column-gap: 10px;
    justify-content: space-between;
    padding: 10px;
    .tabmenu{
      min-width: 185px;
        height: inherit;
        display: flex;
        align-items: center;
    }
     img{
      max-width: 18px;
     }
     button{
     
      background-color: #555555;
      border: 1px solid #555555;
      width: 54px;
      height: 28px;
      display: flex;
      align-items: center;
      justify-content: center;
     }
     button:hover{
      background-color: #444343 !important;
      border: 1px solid #444343 !important;
     }
  }
  .footerbtns{
    padding: 20px 20px 20px 0px;
      width: 100%;
      display: flex;
      align-items: center;
      button{
        background-color: #e51b24;
        color: #fff;
        padding: 10px;
        font-weight: 500;
        margin-right: 15px;
        min-width: 100px;
        border-radius: 5px;
        font-size: 16px;
        height: 44px;
        border: 1px solid #e51b24;
      }
      button:hover{
        background-color: #ce131b !important;
        border: 1px solid #ce131b;
      }
     
  }
  .bold{
    font-weight: 600;
  }
  .greytext{
    color: #848884;
  }
  .tabcontentbox{
    width: 100%;
   
  }
  
    .savebtn{
      justify-content: space-between;
      align-items: center;
      color: #000 !important;
      background-color: #fff;
      border-radius: 5px;
      margin-bottom: 20px;
    }
    .editlink{
      text-align: left;
      a{
        color: #2196f3;
        padding-left: 10px;
      }
    }
  
  
  .tabcontainer{
    overflow-y: auto;
    height: 700px;
    width: 100%;
  }
  
  // .innertabwhtbx{
  //   overflow-y: auto;
  //   height: 700px;
  // }
  /**/
  
  @media (max-width: 1200px) {
    .visitnamebx {
      width: 25%;
    }
    .detailbx {
      width: 70%;
    }
  }
  @media (max-width: 992px) {
    .visitnamebx {
      width: 30%;
    }
    .detailbx {
      width: 65%;
    }
    .mainboxfooterbtn{
      padding: 5px;
    }
  }
  @media (max-width: 768px) {
    .visitnamebx {
      width: 90%;
      margin: auto;
    }
    .detailbx {
      width: 90%;
      margin: auto;
    }
    .listcntnt {
      height: 200px;
      overflow: scroll;
    }
    .innercontentwhtbx {
      min-height: 500px;
      height: 500px;
      overflow-y: scroll;
    }
  
    .tablist {
      height: 0px;
      overflow: scroll;
  }
  .tabcontainer{
    height: 480px;
  }
  
  }
  @media (max-width: 535px) {
   .btnrow, .rowrhtbtn{
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 0px;
   }
   .mainboxfooterbtn{
    width: max-content;
   }
  .btnrow:not(:last-child){
    margin-bottom: 10px;
   }
   .lfttabs a{
    column-gap: 5px;
    button{
      font-size: 14px;
    }
  }
  }
  