//////////////////////////////////////////////////////////////////////////////////
//                                                                              //
//                          File for popup component style                      //
//                                                                              //
//////////////////////////////////////////////////////////////////////////////////



.modalbodywrap {
  text-align: center;
  padding: 40px !important;
  .modalcontentwrap {
    width: 100% !important;
  }
}

.modalbodywrap p {
  margin-bottom: 25px;
  font-size: 16px;
}

.modalbutton {
  width: 100%;
  border: none;
  background-color: #EC0000;
  color: #fff;
  height: 35px;
  border-radius: 7px;
  max-width: 125px;

}

.modalOkButton {
  width: 100%;
  border: none;
  background-color: #EC0000;
  color: #fff;
  height: 35px;
  border-radius: 7px;
  max-width: 125px;
}
