            //////////////////////////////////////////////////////////////////////////////////       
            //                                                                              //           
            //                          File for popup component style                      //
            //                                                                              //
            //////////////////////////////////////////////////////////////////////////////////

.modalbodywrap{
    text-align: center;
    padding: 40px 25px;
}

.modalbodywrap p{
    margin-bottom: 40px;
}

.modalbutton{
    width: 100%;
    border: none;
    background-color: #d31212;
    color: #fff;
    height: 35px;
    border-radius: 7px;
}

.modalOkButton{
    width: 100%;
    border: none;
    background-color: #d31212;
    color: #fff;
    height: 35px;
    border-radius: 7px;
    max-width: 100px;
}