//////////////////////////////////////////////////////////////////////////////////
//                                                                              //
//                       File for style action component                        //
//                                                                              //
//////////////////////////////////////////////////////////////////////////////////

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.innerpgcntnt {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 15px;
  padding: 0px 0px 70px;
  justify-content: space-between;
}
.visitnamebx {
  width: 25%;
}
.detailbx {
  width: 68%;
  position: relative;
  .detailbximage {
    text-align: center;
    padding-top: 15px;
  }
  
}
.titlebx {
  background-color: #ec0000;
  height: 50px;
  padding: 10px 20px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: SantanderHead-Bold;
  letter-spacing: 0.3px;
}
.mainboxfooter {
  position: absolute;
  bottom: -15px;
  left: 0px;
  right: 0px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px -5px #695e5e;
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
}
.contentwhtbx {
  background-color: #fff;
  padding: 20px 0;
  form {
    overflow-y: auto;
    height: 720px;
    padding-right: 15px;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #eeeeee;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6f7779;
    border-radius: 10px;
  } 
}
.logobottomtext {
  font-family: SantanderHead-Bold;
  letter-spacing: 0.3px;
  font-size: 18px;
}
/* Scrollbar width */
.listitems::-webkit-scrollbar {
  width: 5px;
}

/* Track of the scrollbar */
.listitems::-webkit-scrollbar-track {
  background: #eeeeee;
}

/* Scrollbar thumb (the draggable part) */
.listitems::-webkit-scrollbar-thumb {
  background: #6F7779;
  border-radius: 10px; /* Adjust radius as needed */
}
.listcntnt {
  li {
    height: auto;
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    padding-left: 10px;
    font-family: SantanderHead-Bold;
    color: #000000;
    letter-spacing: 0.4px;
    padding: 10px 0px 3px;
    margin-bottom: 10px;
    width: fit-content;
    cursor: pointer;
    border-bottom: 2px solid #fff;
  }
  li:hover {
    border-bottom: 2px solid #ec0000;
  }
  li:nth-child(odd) {
    background: #fff;
  }
  li a {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 20px;
  }
}
.selectedItem{
  border-bottom: 2px solid #ec0000 !important;
}
.nodata{
  color: #ec0000;
  font-weight: 700;
  text-align: center;
}
.listitems {
  border: none;
  padding-left: 25px !important;
  padding-right: 10px;
  min-height: 400px;
  height: 400px;
  overflow: auto;
  li.listhead {
    background-color: #DEEDF2;
  }
}
.listhead {
  a {
    font-weight: 500;
  }
  ::after {
    display: none;
  }
}
.innercontentwhtbx {
  display: flex;
  align-items: center;
  flex-direction: column;
  // height: 60vh;
  // overflow: auto;
  //padding-top: 0;
  width: 100%;
}

.textcntr {
  text-align: center;
}
.pdT20 {
  padding-top: 20px;
}
.pdB20 {
  padding-bottom: 20px;
}
.ftw600 {
  font-weight: 600;
}

.flex {
  display: flex;
}

//Action-pg
.listitems {
  .listtoptitle {
    background-color: #ec0000;
    height: 50px;
    padding: 10px 20px;
    text-align: left;
    color: #fff;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: SantanderHead-Bold;
    letter-spacing: 0.3px;
  }
}
.actioncontent .listitems{
  padding-left: 0px !important;
}
.actioncontent .listitems .listcntnt{
  padding-left: 25px !important;
}
//Action-pg
@media (max-width: 1200px) {
  .visitnamebx {
    width: 25%;
  }
  .detailbx {
    width: 68%;
  }
  .bgcolor {
    .innerpgcntnt {
      max-width: 90%;
    }
  }
}
@media (max-width: 992px) {
  .visitnamebx {
    width: 30%;
  }
  .detailbx {
    width: 65%;
  }
}
@media (max-width: 768px) {
  .visitnamebx {
    width: 100%;
    margin: auto;
    .listcntnt {
      overflow: auto;
    }
    .listitems {
      margin-bottom: 15px;
    }
  }
  .detailbx {
    width: 100%;
    margin: auto;
  }
  .listcntnt {
    height: 200px;
    padding-right: 15px;
  }
  // .innercontentwhtbx {
  //   overflow-y: auto;
  // }
}
@media (max-width: 390px) {
  .detailbximage {
    img {
      width: 100%;
      padding: 0px 10px;
    }
  }
}
@-moz-document url-prefix() {
.listitems {
  scrollbar-width: thin; 
  scrollbar-color: #6F7779 #eeeeee; 
}

.listitems::-webkit-scrollbar {
  width: 5px;
}

.listitems::-webkit-scrollbar-track {
  background: #eeeeee;
}

.listitems::-webkit-scrollbar-thumb {
  background: #6F7779;
}

.contentwhtbx form{
  scrollbar-width: thin; 
  scrollbar-color: #6F7779 #eeeeee; 
}
  .contentwhtbx form::-webkit-scrollbar {
    width: 5px;
  }
  .contentwhtbx form::-webkit-scrollbar-track {
    background: #eeeeee;
  }
  .contentwhtbx form::-webkit-scrollbar-thumb {
    background: #6f7779;
    border-radius: 10px;
  }
  .ftw600, .titlebx {
    font-weight: 500;
  }
  .listitems {
    .listtoptitle {
      font-weight: 500;
    }
  }
}
