.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.bgcolor {
  background-color: #f3f3f3;
}
.innerpgcntnt {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 15px;
  padding: 20px 0px;
  justify-content: center;
}
.visitnamebx {
  width: 28%;
}
.detailbx {
  width: 70%;
}
.titlebx {
  background-color: #e51b24;
  height: 50px;
  padding: 10px;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.contentwhtbx {
  background-color: #fff;
  height: 750px;
  padding: 20px 5px 20px 20px;
  form{
    overflow-y: scroll;
    height: 720px;
    padding-right: 15px;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#aaaaaa;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa;
  }
}
.listcntnt {
  li {
    height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
  }
  li:nth-child(odd) {
    background: #fff;
  }
  li:not(:last-child) {
    border-bottom: 1px solid #989898;
  }
  li a {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 20px;
  }
  li::after {
    content: "";
    position: absolute;
    top: 15px;
    right: 15px;
    background-image: url(/player.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
  }
}
.listitems {
  border: 1px solid #989898;
  li.listhead {
    background-color: #aaaaaa;
  }
}
.listhead {
  a {
    font-weight: 500;
  }
  ::after {
    display: none;
  }
}
.innercontentwhtbx {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 750px;
}
.textcntr {
  text-align: center;
}
.pdT20 {
  padding-top: 20px;
}
.ftw600 {
  font-weight: 600;
}

.flex {
  display: flex;
}

//Action-pg
.listitems{
  .listtoptitle{
    height: 50px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 15px;
    text-transform: capitalize;
    padding: 10px;
    background-color: #e51b24;
    color: #fff;
  }
}

//Action-pg
@media (max-width: 1200px) {
  .visitnamebx {
    width: 25%;
  }
  .detailbx {
    width: 70%;
  }
}
@media (max-width: 992px) {
  .visitnamebx {
    width: 30%;
  }
  .detailbx {
    width: 65%;
  }
}
@media (max-width: 768px) {
  .visitnamebx {
    width: 90%;
    margin: auto;
  }
  .detailbx {
    width: 90%;
    margin: auto;
  }
  .listcntnt {
    height: 200px;
    overflow: scroll;
  }
  .innercontentwhtbx {
    min-height: 500px;
    height: 500px;
    overflow-y: scroll;
  }
}

