@font-face {
  font-family: "SantanderHead-Bold";
  src: url(../../../public/SantanderHeadline-Bold.woff2) format("woff2"),
    url(../../../public/SantanderHeadline-Bold.woff) format("woff");
  font-style: normal;
}
@font-face {
  font-family: "SantanderHead-Regular";
  src: url(../../../public/SantanderHeadline-Regular.woff2) format("woff2"),
    url(../../../public/SantanderHeadline-Regular.woff) format("woff");
  font-style: normal;
}
@font-face {
  font-family: "SantanderText-Bold";
  src: url(../../../public/SantanderText-Bold.woff2) format("woff2"),
    url(../../../public/SantanderText-Bold.woff) format("woff");
  font-style: normal;
}
@font-face {
  font-family: "SantanderText-Light";
  src: url(../../../public/SantanderText-Light.woff2) format("woff2"),
    url(../../../public/SantanderText-Light.woff) format("woff");
  font-style: normal;
}
@font-face {
  font-family: "SantanderText-Regular";
  src: url(../../../public/SantanderText-Regular.woff2) format("woff2"),
    url(../../../public/SantanderText-Regular.woff) format("woff");
  font-style: normal;
}
@font-face {
  font-family: "SantanderText-Italic";
  src: url(../../../public/SantanderText-Italic.woff2) format("woff2"),
    url(../../../public/SantanderText-Italic.woff) format("woff");
  font-style: normal;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.bgcolor {
  background-color: #fff;
}
.innerpgcntnt {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 15px;
  padding: 0px 0px 70px;
  justify-content: space-between;
}
.visitnamebx {
  width: 25%;
}
.detailbx {
  width: 68%;
  position: relative;
  .detailbximage {
    text-align: center;
    padding-top: 15px;
  }
  .logobottomtext {
    font-size: 18px;
  }
}
.titlebx {
  background-color: #ec0000;
  height: 50px;
  padding: 10px 20px;
  text-align: left;
  color: #fff;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
  font-family: SantanderHead-Bold;
  letter-spacing: 0.3px;
}
.logobottomtext {
  font-family: SantanderHead-Bold;
  letter-spacing: 0.3px;
  font-size: 16px;
}
.contentwhtbx {
  background-color: #fff;
  //height: 750px;
  padding: 20px 0px 20px;
  form {
    overflow-y: auto;
    // height: 720px;
    max-height: 375px;
    padding-right: 15px;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  } 

  /* Track */
  ::-webkit-scrollbar-track {
    background: #eeeeee;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #6f7779;
    border-radius: 10px;
  }
  form.tabform {
    background-color: #000000;
    max-height: max-content;
    overflow-y: inherit;
  }
}

.dealersingle {
  ul:first-child {
    li {
      width: 100% !important;
      button {
        cursor: auto !important;
      }
    }
  }
}
/* Scrollbar width */
.listcntnt::-webkit-scrollbar {
  width: 5px;
}

/* Track of the scrollbar */
.listcntnt::-webkit-scrollbar-track {
  background: #eeeeee;
}

/* Scrollbar thumb (the draggable part) */
.listcntnt::-webkit-scrollbar-thumb {
  background: #6F7779;
  border-radius: 10px; /* Adjust radius as needed */
}
.listcntnt {
  padding-left: 25px !important;
  padding-right: 10px;
  height: 540px;
  overflow: auto;
  li {
    height: auto;
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    padding-left: 10px;
    font-family: SantanderHead-Bold;
    color: #000000;
    letter-spacing: 0.4px;
    padding: 10px 0px 3px;
    margin-bottom: 10px;
    width: fit-content;
    cursor: pointer;
    border-bottom: 2px solid #fff;
  }
  li:hover {
    border-bottom: 2px solid #ec0000;
  }
  li:nth-child(odd) {
    background: #fff;
  }
  // li:not(:last-child) {
  //   border-bottom: 1px solid #989898;
  // }
  li a {
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 10px;
    padding-right: 20px;
  }
  // li::after {
  //   content: "";
  //   position: absolute;
  //   top: 15px;
  //   right: 15px;
  //   background-image: url(/player.svg);
  //   background-repeat: no-repeat;
  //   display: inline-block;
  //   width: 20px;
  //   height: 20px;
  // }
}
.listitems {
  // border: 1px solid #989898;
  li.listhead {
    background-color: #DEEDF2;
  }
  .listtoptitle {
    background-color: #ec0000;
    height: 50px;
    padding: 10px 20px;
    text-align: left;
    color: #fff;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    font-family: SantanderHead-Bold;
    letter-spacing: 0.3px;
  }
}

.listhead {
  a {
    font-weight: 500;
  }
  ::after {
    display: none;
  }
}
.innercontentwhtbx {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.textcntr {
  text-align: center;
}
.pdT20 {
  padding-top: 20px;
}
.ftw600 {
  font-weight: 600;
}
ul.listiconhide {
  padding-left: 0px !important;
  li {
    border-bottom: 2px solid #fff;
    font-weight: 600;
    font-family: SantanderText-Bold;
    letter-spacing: 0.3px;
    font-size: 16px;
    margin-left: 15px;
  }
  li.toplist {
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: 2px solid #DEEDF2;
    background-color: #DEEDF2;
    margin-left: 0px;
    a {
      color: #000 !important;
      font-weight: 500;
      font-family: SantanderText-Bold;
      letter-spacing: 0.3px;
      font-size: 16px;
    }
  }
  li.toplist.listhead {
    border-bottom: 2px solid #DEEDF2;
    background-color: #DEEDF2;
  }
  li.toplist.listhead:hover {
    border-bottom: 2px solid #DEEDF2;
    background-color: #DEEDF2;
  }
  li.toplist:hover {
    background-color: #9BC3D3;
    border-bottom: 2px solid #9BC3D3;
  }
  li.listhead {
    border-bottom: 2px solid #ec0000;
    background-color: #fff;
  }
  li.listhead:hover {
    border-bottom: 2px solid #ec0000;
  }
}
ul.listiconhide li::after {
  display: none;
}
.tblinputbx {
  background-color: #deedf2;
  padding: 10px;
  border-radius: 6px;
  width: 100%;
}
.detailtbl {
  width: 100%;
  margin-bottom: 30px;
  tr:not(:last-child) td {
    padding-bottom: 5px;
  }
  .detailtbltd{
    font-family:SantanderText-Bold ;
    color: #000;
  }
  .tblinputbx{
    background-color: #fff;
    border:1px solid #9BC3D3;
  }
  td {
    width: 50%;
  }
}
.cntnttitle {
  color: #ec0000;
  font-size: 24px;
  font-weight: 600;
}
.flex {
  display: flex;
}
// .contentwhtbxfooter {
//    position: relative;
// }
.mainboxfooter {
  position: absolute;
  bottom: -15px;
  left: 0px;
  right: 0px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px -5px #695e5e;
}
.btnrow {
  justify-content: space-between;
}
.rowreverse {
  flex-direction: row-reverse;
}
.rowrhtbtn {
  column-gap: 10px;
}

.imagechoosebtn {
  width: 170px;
  justify-content: space-between;
  align-items: center;
}

.addimagepopup,
.searchboxpopup {
  display: none;
}

.recipientsbtn {
  position: relative;
  align-items: center;
  background-color: #ec0000;
  border: 1px solid #ec0000;
  color: #fff;
  height: 40px;
  padding: 10px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-self: center;
  align-items: center;
  img {
    margin-left: 7px;
  }
}

.recipientsbtn:hover {
  background-color: #CC0000 !important;
  border: 1px solid #CC0000 !important;
}

.imageaddoption {
  position: relative;
  .imageoption {
    position: absolute;
    bottom: 100%;
    left: 0px;
    background-color: #fff;
    padding: 15px;
    column-gap: 10px;
    height: 220px;
    width: 400px;
    box-shadow: 0px 1px 25px -12px #999;
  }
}
.rowrhtbtn {
  margin-bottom: 10px;
}
.searchboxpopup {
  .imageoption {
    position: absolute;
    bottom: 50%;
    left: 0px;
    background-color: #fff;
    padding: 15px;
    column-gap: 10px;
    height: 250px;
    width: 350px;
    box-shadow: 0px 1px 25px -12px #999;
  }
}
.addsearchrow input[type="email"] {
  width: 160px;
  margin-bottom: 0;
  border-radius: 3px 0px 0px 3px;
  border-right: 0px;
  border: 1px solid #6F7779;
}
.addsearchrow input[type="email"]:focus-visible{
  outline: 0px;
}
.addsearchrow {
  align-items: center;
  .addbtn {
    background-color: #6F7779;
    color: #fff;
    padding: 0px 23px;
    font-weight: 600;
    height: 50px;
    border: none;
    border-radius: 0px 3px 3px 0px;
   
  }
  .addbtn:hover{
    background-color: #000;
  }
  .searchrow {
    width: 70%;
    background-color: #ec0000;
    color: #fff;
    padding: 15px;
    text-align: end;
    height: 50px;
    position: relative;
  }
  .searchrow:after {
    position: absolute;
    top: 15px;
    left: 5px;
    content: "";
    height: 20px;
    width: 20px;
    background-image: url("/search-icon.svg");
  }
}
.searchrow {
  input {
    background-color: #ce131b;
    text-align: left;
    outline-offset: 0px;
    outline: 0px;
    margin-left: 15px;
    width: 90%;
  }

  :focus-visible {
    border-bottom: 1px solid #eee;
  }

  ::placeholder {
    color: #eee;
  }
}
.errorMessage {
  color: #ce131b;
  font-weight: 500;
  padding: 8px 0px;
}
.boxmailcontent {
  max-height: 231px !important;
  overflow: auto !important;
  .mailtext {
    align-items: center;
    column-gap: 5px;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid #bebbbb;
  }
  button {
    padding: 0px;
    width: auto;
    text-align: end;
    border: none;
  }
}

@media (max-width: 1200px) {
  .visitnamebx {
    width: 25%;
  }
  .detailbx {
    width: 68%;
  }
  .bgcolor {
    .innerpgcntnt {
      max-width: 90%;
    }
  }
}
@media (max-width: 992px) {
  .visitnamebx {
    width: 30%;
  }
  .detailbx {
    width: 65%;
  }
}
@media (max-width: 768px) {
  .visitnamebx {
    width: 100%;
    margin: auto;
    // .titlebx{
    //   margin-bottom: 0px;
    // }
    .listcntnt {
      overflow: auto;
    }
    .listitems {
      margin-bottom: 15px;
    }
  }
  .detailbx {
    width: 100%;
    margin: auto;
  }
  .listcntnt {
    height: 200px;
    padding-right: 15px;
  }
  .innercontentwhtbx {
    height: auto;
    overflow-y: auto;
  }
}
.nodata{
  color: #ec0000;
  font-weight: 700;
  text-align: center;
}
@media (max-width: 535px) {
  .btnrow,
  .rowrhtbtn {
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 0px;
  }
  .btnrow:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (max-width: 390px) {
  .detailbximage {
    img {
      width: 100%;
      padding: 0px 10px;
    }
  }
}
.imagepopover {
  display: flex;
  background-color: #e9e9e9;
  gap: 15px;
}
@-moz-document url-prefix() {
.listitems {
  
  scrollbar-width: thin; 
  scrollbar-color: #6F7779 #eeeeee; 
}

.listitems::-webkit-scrollbar {
  width: 5px;
}

.listitems::-webkit-scrollbar-track {
  background: #eeeeee;
}

.listitems::-webkit-scrollbar-thumb {
  background: #6F7779;
}

.contentwhtbx form{
  scrollbar-width: thin; 
  scrollbar-color: #6F7779 #eeeeee;
}
  .contentwhtbx form::-webkit-scrollbar {
    width: 5px;
  }


  .contentwhtbx form::-webkit-scrollbar-track {
    background: #eeeeee;
  }


  .contentwhtbx form::-webkit-scrollbar-thumb {
    background: #6f7779;
    border-radius: 10px;
  } 
.listcntnt {
  scrollbar-width: thin; 
  scrollbar-color: #6F7779 #eeeeee;
}
.listcntnt::-webkit-scrollbar {
  width: 5px;
}

.listcntnt::-webkit-scrollbar-track {
  background: #eeeeee;
}

.listcntnt::-webkit-scrollbar-thumb {
  background: #6F7779;
}
ul.listiconhide {
  li {
    
    font-weight: 500;
  }
}
.ftw600, .titlebx, .cntnttitle, .recipientsbtn {
  font-weight: 500;
}
.listitems {
  .listtoptitle {
    font-weight: 500;
  }
}
.addsearchrow {
  .addbtn {
    font-weight: 500;
  }
}
}
