@font-face {
  font-family: "SantanderHead-Bold";
  src: url(../../public/SantanderHeadline-Bold.woff2) format("woff2"),
    url(../../public/SantanderHeadline-Bold.woff2) format("woff");
  font-style: normal;
}
@font-face {
  font-family: "SantanderHead-Regular";
  src: url(../../public/SantanderHeadline-Regular.woff2) format("woff2"),
    url(../../public/SantanderHeadline-Regular.woff) format("woff");
  font-style: normal;
}
@font-face {
  font-family: "SantanderText-Bold";
  src: url(../../public/SantanderText-Bold.woff2) format("woff2"),
    url(../../public/SantanderText-Bold.woff) format("woff");
  font-style: normal;
}
@font-face {
  font-family: "SantanderText-Light";
  src: url(../../public/SantanderText-Light.woff2) format("woff2"),
    url(../../public/SantanderText-Light.woff) format("woff");
  font-style: normal;
}
@font-face {
  font-family: "SantanderText-Regular";
  src: url(../../public/SantanderText-Regular.woff2) format("woff2"),
    url(../../public/SantanderText-Regular.woff) format("woff");
  font-style: normal;
}
@font-face {
  font-family: "SantanderText-Italic";
  src: url(../../public/SantanderText-Italic.woff2) format("woff2"),
    url(../../public/SantanderText-Italic.woff) format("woff");
  font-style: normal;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.loginpg{
  .loginboxcntnt {
    // display: flex;
    // justify-content: center;
    // padding: 70px 70px;
    // margin: 0px auto;
    background-color: #fff;
    .loginbox {
      width: 90%;
      padding: 30px 50px;
    margin: 0px auto;
    }
    .inputlabel{
      font-family: SantanderText-Bold;
      font-size: 17px;
      letter-spacing: 0.4px;
      color: #000;
      margin-bottom: 5px;
    }
    .inputtxt{
      border: 1px solid #9BC3D3;
      border-radius: 4px;
      height: 45px;
    }
   
  }
 
  .leftbox, .rightbox{
    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .leftbox{
    box-shadow: 5px 0px 10px -5px #a79f9f;
    width:40%;
  }
  .rightbox{
    width: 60%;
    flex-direction:column;
    row-gap: 15px;
    .title{
      font-family: SantanderText-Bold;
      font-size: 20px;
      letter-spacing: 0.3px;
      color: #ec0000;
      text-align: center;
    }
    .subcntnt{
      font-family: SantanderText-Regular;
      font-size: 16px;
      letter-spacing: 0.3px;
      color: #000;
      text-align: center;
      padding: 10px 0px;
    }
  }
  .forgotboxcntnt {
    padding: 30px 70px 70px;
    .logintitle {
      font-family: "SantanderHead-Bold";
      font-size: 22px;
      letter-spacing: 0.4px;
      color: #ec0000;
      padding-bottom: 30px;
      text-align: center;
      position: relative;
    }
    .loginbox{
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 0px;
    }
    .forgotform{
      width: 100%;
    }
  }
}


.errortext {
  font-family: "SantanderText-Regular";
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #ec0000;
}
.inputtxt {
  height: 35px;
  width: 100%;
  border: 1px solid #000;
  padding: 5px;
  color: #000;
  font-size: 15px;
}
.loginbtn:hover {
  background-color: #000;
  border: 1px solid #000;
}
.loginbtn {
  width: 100%;
  height: 42px;
  color: #fff;
  background-color: #ec0000;
  border: 1px solid #ec0000;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: SantanderText-Bold;
  letter-spacing: 0.5px;
  border-radius: 50px;
}
a.loginbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.frgtlnk:hover {
  color: #000;
  text-decoration: underline;
}
.frgtlnk {
  color: #ec0000;
  font-size: 15px;
  font-weight: 600;
  font-family: SantanderText-Bold;
  letter-spacing: 0.2px;
  text-decoration: underline !important;
}
.loginpg {
  height: calc(100vh - 111px);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 40px;
}
.mrgb10 {
  margin-bottom: 10px;
}
.mrgT10 {
  margin-top: 10px;
}
.mrgT50 {
  margin-top: 50px;
}
.mrgT40 {
  margin-top: 40px;
}
.mrgTB20 {
  margin: 20px 0px;
}
.mrgT20 {
  margin-top: 20px;
}
.block{
  display: block;
}
.bgcolor {
  // background-color: #DEEDF2;
  background-color: #fff;
}
.inputtxt {
  font-family: "SantanderText-Regular";
  ::placeholder {
    font-family: "SantanderText-Regular";
  }
}
.pageht {
  height: 100vh;
}
.txtcntr {
  text-align: center;
}

@media (max-width: 992px) {
  .loginpg {
    align-items: baseline;
    padding-top: 50px;
    flex-wrap: wrap;
    height: 100%;
    .rightbox{
      width: 100%;
    }
    .leftbox{
      width: 100%;
      box-shadow: 0px 0px 0px 0px;
    }
    .loginboxcntnt{
    .loginbox{
      width: 50%;
      padding: 20px 0px;
    }
   
  }
  }
}
@media (max-width: 420px) {
  .loginboxcntnt {
    width: 80%;
    padding: 40px 30px;
  }
  .inputtxt {
    width: 100%;
  }
  .loginpg {
  .loginboxcntnt{
    padding-left: 0px;
    padding-right: 0px;
    .loginbox{
      width: 90%;
    }
  }
}
}
