.button:hover {
  background-color:  #990000 !important;
  border: 1px solid  #990000 !important;
}
.button {
  background-color: #ec0000;
  border: 1px solid #ec0000;
  color: #fff;
  height: 40px;
  padding: 10px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-self: center;
  align-items: center;
}

@media (max-width: 992px) {
  .button {
    padding: 5px;
  }
}
@media (max-width: 535px) {
  .button {
    width: max-content;
  }
}
